<!DOCTYPE html>
<html lang="en">

{{>head}}

<body id="backend">
     {{>nav}}
    <h1>Panel de control</h1>
    <div class="container mb-4">

       
        <div class="table-responsive mt-4">

            <table class="table caption-top">
                <caption>Lista de productos</caption>
                <thead class="table-light">
                    <tr>
                        <th scope="col">#ID</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Imagen</th>
                        <th scope="col" style="max-width: 30%">Descripcion</th>
                        <th scope="col" style="max-width: 10%">Características</th>
                        <th scope="col" style="max-width: 5%">Precio ($)</th>
                        <th scope="col" style="max-width: 5%">Acciones</th>
                    </tr>
                </thead>

                <tbody id="admin-productos">
                    {{#each products}}
                    <tr>
                        <th scope="row">{{id}}</th>
                        <td>{{name}}</td>
                        <td><img src='/assets/img/wines/{{picture}}' alt="imagen">
                        </td>
                        <td class="descripcion">
                            <div>{{description}}</div>
                        </td>
                        <td class="caracteristicas">
                            <ul class="list-unstyled">
                               <li> {{country}} </li>
                               <li> {{region}} </li>
                               <li> {{dolarApeso price}} </li>
                            </ul>
                        </td>
                        <td>{{price}}</td>
                        <td>
                            <a href="editar-producto/{{id}}">Editar </a><br>
                            <a href="borrar/{{id}}">Borrar</a>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>

            </table>
            <a href="agregar-producto" class="btn btn-info">Agregar producto</a>

        </div>

    </div><!-- /container -->

{{>footer}}

    <!-- 
    Essential Scripts
    =====================================-->
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

    </script>

</body>

</html>